
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #60a5fa;
  --section-bg: #0A0A0A;
  --card-bg: rgba(23, 23, 23, 0.7);
}

body {
  background-color: #000;
  color: white;
  background-image: radial-gradient(circle, rgba(0, 140, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
}

* {
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
}

.section-bg {
  background-color: var(--section-bg);
}

.card-bg {
  background-color: var(--card-bg);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust based on your navbar height */
}

.circle {
  position: absolute;
  width: 50px;
  /* Adjust size as needed */
  height: 50px;
  /* Adjust size as needed */
  background: linear-gradient(to right, #FF8C00, black);
  /* Darker orange */
  border-radius: 50%;
}

